*.swp
*.o
*.mod
*.pyc
*.lst
*~
scale/configure.user
scale/common/datetime
scale/common/pdbash
scale/run/config.???*
scale/run/cycle_job.sh
scale/run/fcst_job.sh
scale/run/machinefile
scale/run/mpd.hosts
scale/letkf/letkf
scale/letkf/testexp/
scale/obs/obsmake
scale/obs/obsope
scale/obs/dec_prepbufr
scale/ensmodel/scale-rm_pp_ens
scale/ensmodel/scale-rm_init_ens
scale/ensmodel/scale-rm_ens
